<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="false" debug="false">

    <!--  Appenders Definitions Starts  -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level[%logger{36}] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/atmos.log</File>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%logger{36}] [%X{akkaSource}] [%X{sourceThread}] [%X{traceId}] : %m%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/atmos.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <!--  Appenders Definitions Ends-->

    <!--  Loggers Definition Starts -->
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
    <!--  Loggers Definition Ends -->


</configuration>
